<%= form_for(@teacher_course) do |f| %>
  <% if @teacher_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher_course.errors.count, "error") %> prohibited this teacher_course from being saved:</h2>

      <ul>
      <% @teacher_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teacherId %><br>
    <%= f.number_field :teacherId %>
  </div>
  <div class="field">
    <%= f.label :courseId %><br>
    <%= f.number_field :courseId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
